# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/

# Compiled files
*.class
*.jar
!maven/**/*.jar

# Logs
*.log

# Local configuration
.env
application.properties
application.yml

# OS specific
.DS_Store
Thumbs.db