.root {
    -fx-base: #333333;
    -fx-background: #2b2b2b;
    -fx-control-inner-background: #444444;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, -2%);
    -fx-accent: #007acc;
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent;
}

.button {
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #444444;
}

.table-view .column-header-background {
    -fx-background-color: #3c3c3c;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #555555 transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: #dddddd;
    -fx-border-color: transparent transparent #555555 transparent;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #444444;
}

.table-view .table-row-cell:even {
    -fx-background-color: #4f4f4f;
}

.table-view .table-row-cell:selected {
    -fx-background-color: -fx-accent;
}

.menu-bar {
    -fx-background-color: #3c3c3c;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: black; /* Menu item text in dropdown */
}

.context-menu {
    -fx-background-color: #f4f4f4;
}